@page
@model Ofgem.GBI.ExternalPortal.Web.Pages.Footer.Accessibility
@{
}

<div data-test-id="accessibility-page-width-container" class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <a data-test-id="accessibility-page-back-button" type="submit" class="govuk-back-link" asp-page="/Home">Back</a>

            <h1 class="govuk-heading-xl">Great British Insulation Scheme Accessibility Statement</h1>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">This website is run by Ofgem. We want everyone who visits the <u>Great British Insulation Scheme Register</u> to feel welcome and find the experience rewarding. This means you should be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the website using just a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS and NVDA)</li>
            </ul>
            <p class="govuk-body"><a data-test-id="accessibility-page-link-ability-net" class="govuk-link" href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noopener">AbilityNet (opens in new window)</a> has advice on making your device easier to use if you have a disability. </p>

            <!-- How accessible this website is -->
            <h2 class="govuk-heading-l">How accessible this website is</h2>
            <p class="govuk-body">We've been using the <a data-test-id="accessibility-page-link-w3" class="govuk-link" href="https://www.w3.org/TR/WCAG21/" target="_blank" rel="noopener">Web Content Accessibility Guidelines (WCAG) 2.1 (opens in new window)</a>.</p>
            <p class="govuk-body">These guidelines explain how to make web content more accessible for people with disabilities, and user friendly for everyone.</p>
            <p class="govuk-body">The guidelines have three levels of accessibility. These are:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>A</li>
                <li>AA</li>
                <li>AAA</li>
            </ul>
            <p class="govuk-body">We've chosen Level AA as the target for the <u>Great British Insulation Scheme</u>, and believe we've achieved this goal.</p>
            <p class="govuk-body">However, we continue to monitor the website regularly and will soon undergo a 3rd party review to ensure we can provide the best possible service. We will update this statement with any additional information as appropriate.</p>

            <!-- What to do if you can't access parts of this website -->
            <h2 class="govuk-heading-l">What to do if you can't access parts of this website</h2>
            <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>email: <a data-test-id="accessibility-page-link-email-ofgem-1" class="govuk-link" href="mailto:GBIS.enquiry@ofgem.gov.uk">GBIS.enquiry@ofgem.gov.uk</a></li>
            </ul>
            <p class="govuk-body">We'll review your request and get back to you within two working days.</p>

            <!-- Reporting accessibility problems with this website -->
            <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
            <p class="govuk-body">We're always looking to improve the accessibility of this website. If you find any problems that aren't listed on this page or think we're not meeting the requirements of the accessibility regulations, contact us by email at <a data-test-id="accessibility-page-link-email-ofgem-2" class="govuk-link" href="mailto:GBIS.enquiry@ofgem.gov.uk">GBIS.enquiry@ofgem.gov.uk</a>.</p>

            <!-- Enforcement procedure -->
            <h2 class="govuk-heading-l">Enforcement procedure</h2>
            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing accessibility regulations. If you're not happy with how we respond to your complaint, <a data-test-id="accessibility-page-link-equility-advisory-service" class="govuk-link" href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noopener">contact the Equality Advisory and Support Service (EASS) (opens in new window)</a>.</p>

            <!-- Technical information about this website’s accessibility -->
            <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
            <p class="govuk-body">Ofgem is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
            <p class="govuk-body">We will soon undergo a 3rd party review to ensure we can provide the best possible service. We will update this statement with the outcome of that review and any additional information as appropriate.</p>
            <!--
            <p class="govuk-body">The list of issues found by internal review are:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>label fieldset elements with legend elements</li>
                <li>add values and labels to input buttons</li>
                <li>add auto complete attribute to new password or current password</li>
                <li>add titles to documents</li>
                <li>remove placeholder titles</li>
                <li>add unique titles to each page</li>
                <li>add onekeyup and onekeydown handlers</li>
                <li>fix markup errors</li>
                <li>add accessible name to HTML</li>
                <li>update tab order</li>
                <li>remove duplicate IDs</li>
                <li>text and background colour contrast</li>
                <li>consistent colours format</li>
                <li>update border style</li>
            </ul>
            -->
            <p class="govuk-body">The accessibility regulations <a data-test-id="accessibility-page-link-legislation" class="govuk-link" href="http://www.legislation.gov.uk/uksi/2018/952/regulation/4/made" target="_blank" rel="noopener">do not require us to fix PDFs or other documents published before 23 September 2018 (opens in new window)</a> if they're not essential to providing our services.</p>

            <h2 class="govuk-heading-l">How we tested this website</h2>
            <p class="govuk-body">We last tested this website in October 2023. The testing included external user testing with users identified as having accessibility requirements. And desk-based testing. This was carried out externally and internally by Ofgem.</p>
            <!-- <p class="govuk-body">We last tested this website in January 2020. The test included desk-based testing and was carried out internally by Ofgem.</p> -->
            <!--
            <ul class="govuk-list">
                <li><strong>Last updated:</strong> 28 July 2023</li>
                <li><strong>Next review:</strong> 28 July 2024</li>
            </ul>
            -->
        </div>
    </div>
</div>