@page
@model Ofgem.GBI.ExternalPortal.Web.Pages.SignOutModel
@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
        <input type="hidden" name="_csrf" value="OrvybYly-mXzFfompX9Z-uYajBSEdXGkHeFc">
        <h1 data-test-id="sign-out-header" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">You have signed out</h1>
        <p class="govuk-body" data-test-id="sign-out-paragraph-confirmation">
            You are now signed out of the Great British Insulation Scheme.
        </p>
        <p class="govuk-body" data-test-id="sign-out-paragraph-sign-back-in">
            You can return to <a href="https://www.gov.uk/" class="govuk-link">GOV.UK homepage</a> or sign back into the portal.
        </p>
        <p>
            <a data-test-id="sign-out-link-sign-in" href="/home" class="govuk-button">Sign in</a>
        </p>
    </div>
</div>
